<style>
.donation {

  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 22px;
  margin: -22px;
  padding-bottom: 0px;

}
</style>

<div class="d-flex justify-content-center">
<p> made with ❤️ by
<a href="https://steamcommunity.com/id/reifel1" target="_blank" rel="noopener noreferrer" class="donation"> Reifel </a> 
- Support by
<a href="https://linktr.ee/reifel" target="_blank" rel="noopener noreferrer" class="donation">donating here </a>
</p>
</div>